* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font: 400;
    font-family: Arial;
    font-size: 14px;
}

a {
    text-decoration: none;
    -webkit-transition: 2 time;
    -moz-transition: 2 time;
    -ms-transition: 2 time;
    -o-transition: 2 time;
    transition: 2 time;
}

.icon a {
    color: #2e2e2e;
}

a:hover {
    color: red;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

li {
    display: inline-block;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

/*Heder*/

.adresbloc {
    background-color: #ededed;
    height: 40px;
    padding: 10px;
}

.info {
    float: left;
    padding-left: 80px;
    display: inline-block;
}

.sity {
    background-color: black;
    float: left;
    font-size: 14px;
    font-family: "Hind";
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
}

.phone {
    float: left;
    font-size: 14px;
    font-family: "Hind";
    color: rgb(86, 86, 85);
    padding-top: 10px;
    padding-left: 30px;
}

.adres {
    float: left;
    background-color: #ededed;
    font-size: 14px;
    font-family: "Hind";
    color: rgb(86, 86, 85);
    padding-top: 10px;
    padding-left: 30px;
}

.icon {
    float: right;
    margin-top: 7px;
    display: inline-block;
    padding-right: 80px;
}

.icon ul li {
    margin-left: 20px;
}

.logosecsion {
    padding: 29px 100px;
    background: #fff;
}

.logo {
    float: left;
}

.static-info {
    float: right;
    margin-top: 17px;
}

.title {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.static-info li p:first-of-type {
    float: left;
    margin-right: 15px;
    color: #000;
    font-size: 18px;

}

.static-info li p:last-of-type {
    display: inline-block;
}

.static-info p > span {
    display: block;
}

.static-info ul li {
    padding-right: 35px;
    border-right: 1px solid #e6e6e6;
    margin-right: 20px;
}

.static-info ul li:last-of-type {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

.menu {
    background-color: #000000;
    padding: 0 100px;
    }

.menu-mob{
    background-color: #000000;
    padding: 0 10%;
    display: none;
    width: 80%;
   }

.mm-1{
    float: left;
    display: inline-block;
    font-size: 18px;
    font-family: "Hind";
    color: rgb(255, 255, 255);
       }


.menu-mob a{
    color: white;
}

.menu-mob a:hover{
    background-color: red;
    color:rgb(255, 255, 255);
}

.menu-mob i {
    line-height: 3.5;
}

.menu nav {
    float: left;
    display: inline-block;
}

nav li a {
    color: #fff;
    font-size: 16px;
    padding: 24px 16px 16px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 7px solid transparent;
}

nav li a:hover {
    color: #fff;
    border-bottom: 6px solid #bd2631;
}

.current a {
    border-bottom: 6px solid #bd2631;

}

.search {
    float: right;
    color: #fff;
    line-height: 3.5;
    font-size: 19px;
}

nav > ul > li {
    display: inline-block;
}

/*Тело сайта*/

.bigphoto {
    background: #000000 url("../img/2Layer41.png") no-repeat;
    background-position: right;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 200px;
    padding-bottom: 230px;
}

.anglel {
    color: white;
    font-size: 40px;
    padding-top: 35px;
    float: left;
}

.angler1 {
    color: white;
    font-size: 40px;
    padding-top: 35px;
    float: right;
}

.batery {
    float: left;
    padding-left: 60px;
}

.batery1 {
    color: #bd2631;
    font-size: 26px;
    font-family: "Hind";
    line-height: 1.3;
}

.batery2 {
    color: white;
    font-size: 32px;
    font-family: "Hind";
    line-height: 1.3;
}

.batery3 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Hind";
    line-height: 1.3;
}

.red1 {
    background-color: #bd2631;
    padding: 40px 130px 40px  140px;
    }

.red2 {
    float: left;
    color: white;
}

.red3 {
    font-size: 24px;
    font-family: "Hind";
    line-height: 1.2;
    text-align: left;
}

.red4 {
    font-size: 20px;
    font-family: "Hind";
    line-height: 1.2;
    text-align: left;
}

.red5 {
    float: right;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: "Hind";
    font-weight: 800;
    padding: 16px 40px 16px 40px;
    border-radius: 4px;
}

.fotoblok1{
    border: 0;
    background-color: #000000;

   }



.fotoblok11 {
    float: left;
    width: 50%;
    position: relative;

}

.fotobloctext{
    position: absolute;
    top: 35%;
    left: 15%;
    padding-right: 15%;
   }

.fotoblok12 {
    float: left;
    width: 50%;
    position: relative;
   }

.fb2{
    position: absolute;
    top: 35%;
    left: 63%;
    }

.fb3{
    position: absolute;
    top: 35%;
    left: 17%;
}

.prducts {
    font-size: 30px;
    font-family: "Hind";
    color: rgb(189, 38, 49);
    line-height: 1;
    text-align: left;
  }

.sure {
    font-size: 14px;
    font-family: "Hind";
    color: rgb(255, 255, 255);
    line-height: 2.143;
    text-align: left;
   }


.grafinfo {
    text-align: center;
    padding: 50px 10px 110px 10px;
    }

.grafinfo1 {
    width: 33.33%;
    float: left;
}

.info-red {
    text-transform: uppercase;
    font-size: 36px;
    font-family: "Hind";
    color: rgb(189, 38, 49);
    line-height: 0.833;
}

.info-text {
    font-size: 18px;
    font-family: "Hind";
    color: #000000;
    line-height: 1.667;
    margin: 0 10px 0 10px;
}

.ups {
    background: #000000 url("../img/UPSfon.png") no-repeat;
    background-position: right;
    background-size: contain;
}

.upslogo {
    float: left;
    padding: 60px 0 45px 330px;
}

.upstext {
    float: left;
    font-size: 36px;
    font-family: "Hind";
    color: rgb(255, 255, 255);
    line-height: 0.833;
    text-align: left;
    padding-top: 90px;
    padding-left: 60px;
}

.fotolinebloc {
    float: left;
    width: 20%;
    font-size: 18px;
    font-family: "Hind";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding-bottom: 20px;
}

.ftoline{
    background-color: #bd2631;
}

.ftoline2 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.fotolinebloc2 {
    float: left;
    width: 20%;
    text-align: center;
}

.footer{
    background-color:#242424;
}

.textfoo {
    padding: 70px 7% 70px 7%;
    background-color: #363636;
    display: inline-block;
}

.textfoo2 {
    float: left;
    width: 18.5%;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
    border-right: 1px solid #747474;
   }

.textfoo6 {
    float: left;
    width: 18.5%;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
    border-left: 1px solid #747474;
}

.textfoo7 {
    float: left;
    width: 18.5%;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
   }
.textfoo8 {
    float: left;
    width: 18.5%;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
}

.textfoo3 {
    font-size: 18px;
    font-family: "Hind";
    color: rgb(189, 38, 49);
    text-transform: uppercase;
    line-height: 1.667;
    text-align: left;
}

.textfoo4 {
    font-size: 12px;
    font-family: "Hind";
    color: #FFFFFF;
    text-align: left;
}

.textfoo5 {
    font-size: 14px;
    font-family: "Hind";
    color: rgb(189, 38, 49);
    text-align: left;
}

.end {
    background-color: #242424;
    padding: 40px 12% 30px 10%;
}

.endtext {
    float: left;
    font-size: 12px;
    font-family: "Hind";
    color: rgb(255, 255, 255);
    line-height: 2.5;
    text-align: left;

}

.endtext1 {
    float: right;
    font-size: 12px;
    font-family: "Hind";
    color: rgb(255, 255, 255);
    line-height: 2.5;
    text-align: left;
}

                                                                                        /* Респонсив */
@media screen and (max-width: 1200px) {
    .upslogo{
        padding-left: 120px;
    }
    .fbm{
        width: 96%;
    }
}

@media screen and (max-width: 1120px) {
    .fbm{
        width: 90%;
    }
}

@media screen and (max-width: 1080px) {
    .upslogo{
        padding-left: 100px;
    }
    .fotobloctext{
        position: absolute;
        top: 25%;
        left: 12%;
        padding-right: 12%;
    }

}

@media screen and (max-width: 1060px) {
    .logo, .static-info {
        float: none;
    }
    .logosecsion {
        text-align: center;
    }
    .fbm{
        width: 80%;
    }
}

@media screen and (max-width: 1030px) {
    .red1{
        padding: 40px 40px 40px  40px;
    }
}

@media screen and (max-width: 1010px) {
    .info {
        padding-left: 0;
    }
}

@media screen and (max-width: 960px) {
    .menu {
    padding: 0 50px;
    }
    .fbm{
        width: 75%;
    }
    .grafinfo {
        padding: 30px 10px 30px 10px;
    }
}

@media screen and (max-width: 900px){
    .icon {
        padding-right: 20px;
    }

  }

@media screen and (max-width: 860px) {
    .menu {
        padding: 0 20px;
    }
    .upslogo{
        padding-left: 40px;
    }
    .fotobloctext{
        position: absolute;
        top: 20%;
        left: 12%;
        padding-right: 12%;
    }
    .fbm{
        width: 70%;
    }
    .textfoo2, .textfoo6, .textfoo7, .textfoo8{
        width: 94%;
        border: 0;
        padding-top: 10px;
    }
}

@media screen and (max-width: 840px) {
    .adresbloc {
        height: auto;
    }
    .adres{
        float: none;
        padding-top: 70px;
        padding-left: 0;
    }
}

@media screen and (max-width: 820px) {
    .red5 {
        float: left;
        margin-top: 10px;
    }
    .ftoline2 {
        text-align: center;
           }
    .fotolinebloc2{
        width: 33.33%;
    }
    .fbm{
        width: 65%;
    }
    .endtext1, .endtext{
        float: none;
    }
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }

    .menu-mob{
        display: inline-block;
        border: 0;
                  }
    .mm-1{
        float: left;
          }
    .search {
        float: right;
            }
    .bigphoto {
        margin-top: -10px;
    }

}

@media screen and (max-width: 780px) {
    .upstext{
        padding-top: 0;
        padding-bottom: 20px;
    }
    .upslogo{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .bigphoto {
        padding-top: 100px;
        padding-bottom: 130px;
        background-position: right;
        background-size: auto 100%;
    }
    .fotobloctext{
        position: absolute;
        top: 12%;
        left: 12%;
        padding-right: 12%;
    }

}
@media screen and (max-width: 760px) {
   .batery{
       padding-left: 10px;
   }
    .fotolinebloc{
        width: 33.3%;
    }

}
@media screen and (max-width: 720px) {

    .logosecsion {
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media screen and (max-width: 680px) {
    .bigphoto {
        padding-left: 10px;
        padding-right: 10px;
    }
    .batery{
        padding-left: 20px;
    }

    .fotoblok11, .fotoblok12{
        width: 100%;
    }
    .fbm{
        width: 100%;
    }
    .fotobloctext{
        position: absolute;
        top: 20%;
        left: 20%;
        padding-right: 12%;
    }
}

@media screen and (max-width: 620px) {

    .static-info ul li{
        display: block;
        padding-right: 0;
        margin: 10px 0;
        border: none;
        width: 200px;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .batery {
        float: none;
        padding-left: 60px;
    }
    .angler1{
        float: left;
    }
}

@media screen and (max-width: 560px) {
    .bigphoto{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .angler1{
        padding-top: 0;
    }
    .grafinfo1{
        width: 95%;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 520px) {
    .fotolinebloc2{
        width: 50%;
        text-align: center;
    }
    .ftoline2 {
        padding-top: 40px;
        padding-bottom: 25px;
    }
    .upstext{
        padding-bottom: 5px;
    }
    .phone{
        float: none;
        padding-top: 60px;
        padding-left: 0;
    }
    .adres{
        padding-top: 10px;

    }
    .fbm{
        width: 80%;
    }
    .icon{
        padding-right: 0;
    }
    .info{
        width: 50%;
    }
    .fotolinebloc{
        width: 50%;
    }
}
@media screen and (max-width: 440px) {

    .grafinfo1 {
        width: 100%;
        float: inherit;
        padding-bottom: 10px;
    }
    .grafinfo {
       padding-bottom: 0;
    }
    .ups {
       background-size: auto 100%;
    }

    .fotolinebloc2{
        width: 100%;
        float: inherit;
        text-align: center;
    }

}

@media screen and (max-width: 400px) {
    .fotolinebloc{
        width: 100%;
    }
        .icon ul li {
            margin-left: 5px;
    }
    .fbm{
        width: 60%;
    }
    .info{
        width: 60%;
    }
    .fotobloctext{
        position: absolute;
        top: 5%;
        left: 5%;
        padding-right: 5%;
    }
    .bigphoto{
        padding-top: 3px;
        padding-bottom: 3px;
    }
}